    *{
    margin: 0;
    }
   
  .header{
     height: 90px;
     width: 100%;
     background-color: green;
  }
   
  .header img{
     height: 80px;
     float: left;
     margin: 5px 40px 5px 550px; 
  }
   
  .header h1{
     padding-top: 20px;
     color: white;
  }
   
  .nav{
     height: 35px;
     width: 100%;
     clear: both;
     background-color:greenyellow ;
     padding: 5px 0; 
  }
   
  ul{
     list-style: none;
     line-height: 20px;
     margin-left: 570px;
  }
   
  li{
     float: left;
     padding: 1px;
  }
   
  li a{
     text-decoration: none;
     vertical-align: center;
  }
   
  .content{
     height: 785px;
     width: 67%;
     background-color:aliceblue;
     float: left;
  }
   
  .post{
     padding: 20px 50px;
     margin: 30px 40px; 
     background-color:#9ACD32;
     border-radius: 30px;
  }
   
  .post p{
     padding: 10px 0;
  }
   
  .gallery{
     height: 785px;
     width: 33%;
     background-color:white;
     float: right;
  }
   
  .gallery h2{
     width: 100%;
     text-align: center;
     padding-top: 20px;
  }
   
  .gallery img{
     height: 28%;
     width: auto;
     margin: 5px 25px; /*здесь должно быть 2 значения, подбери сам!*/
  }
   
  .footer{
     height: 45px;
     width: 100%;
     background-color: yellowgreen;
     clear: both;
     padding-top: 10px;
     color:white;
  }
  li img{
   height: 15px;
  }
   
  